h1{color: #29849a;}
h2{color: #9a2984;}
main{
  text-align: justify;
}
figcaption{text-align: center}

.div-float{
  float: right;
  width: 50%;
  margin-left: 1em;
}

.center-table table{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}